body {
  background-color: white;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 10pt;
}

a:link    { color:blue; background: white; }
a:visited { color:blue; background: white; }
a:active  { color:red; background: yellow; }
a:hover   { color:red; background: yellow; }

h3 {
  padding-left: 0.0;
  padding-right: 0.0;
  padding-bottom: 0.0;
  padding-top: 0.0;
  font-size: 14pt;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.0cm;
  border-bottom: thin dashed #aaaaaa;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ok {
  background-color: lightgreen;
}

.great {
  background-color: green;
}

.warning {
  background-color: yellow;
}

.problem {
  background-color: red;
}

#floatrightimage { 
  float: right;
  text-align: center;
  font-size: 10pt;
  margin: .5em 0em .5em 1em;
}

ul {
  margin-bottom: 5px;
  margin-top: 5px;
}
ol {
  margin-bottom: 5px;
  margin-top: 5px;
}
h4 {
  padding-left: 0.0;
  padding-right: 0.0;
  padding-bottom: 0.0;
  padding-top: 0.0;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
  background-color: #cccccc;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-bottom: thin solid #aaaaaa;
}
#head {
  padding-left: 0.5ex ;
  padding-top: 1.0ex ;
  padding-bottom: 0.25ex ;
  padding-right: 0.5ex ;
  background-color: black;
  color: white;
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.1cm;
}
#nav {
  padding-top: 0.25ex ;
  padding-bottom: 0.25ex ;
  background-color: #007700;
  text-align: center;
  font-size: 12pt;
  border-bottom: medium solid #000000;
}
#nav a:link    { text-decoration:none; color:white; background: #007700; }
#nav a:active  { text-decoration:none; color:white; background: #039; }
#nav a:visited { text-decoration:none; color:white; background: #007700; }
#nav a:hover   { text-decoration:none; color:white; background: #039; }
#urhere {
  position: relative;
  text-align: right;
  font-size: 10pt;
  letter-spacing: 0.0cm;
}
#urhere a:link    { text-decoration:none; color:white; background: black; }
#urhere a:visited    { text-decoration:none; color:white; background: black; }
#urhere a:active  { text-decoration:none; color:black; background: white; }
#urhere a:hover  { text-decoration:none; color:black; background: white; }
#content {
  padding-top: 1.0ex;
  padding-bottom: 1.0ex;
  padding-left: 2.0ex;
  padding-right: 2.5ex;
}
#para {
   padding-top: 0.0ex;
   padding-bottom: 1.5ex;
   padding-left: 0.0ex;
   padding-right: 0.0ex;
}
#foot {
  padding-top: 0.0ex ;
  padding-bottom: 0.25ex ;
  background-color: #007700;
  color: white;
  text-align: center;
  font-size: 8pt;
  border-bottom: medium solid #000000;
  border-top: medium solid #000000;
}
#foot a:link    { color:white; background: #007700; }
#foot a:active  { color:white; background: #039; }
#foot a:visited { color:white; background: #007700; }
#foot a:hover   { color:white; background: #039; }
