/** 
	Add or replace login modules as needed.
	For help, consult:
		http://jakarta.apache.org/tomcat/tomcat-5.0-doc/realm-howto.html 
		http://java.sun.com/products/jaas/
**/

fedora {
	org.apache.catalina.realm.JAASMemoryLoginModule required debug=false
	path="conf/tomcat-users.xml"
	;
	
	/** 
		Uncomment to enable end-user ldap attributes in case of surrogate
		org.apache.catalina.realm.JAASNullLoginModule required debug=false 
		;	
	**/
};

Tomcat {
	org.apache.catalina.realm.JAASMemoryLoginModule required debug=false
	path="conf/tomcat-users.xml"
	;	

	/** 
		Uncomment to enable end-user ldap attributes in case of surrogate
		org.apache.catalina.realm.JAASNullLoginModule required debug=false
		;	
	**/
};
