<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
       
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{mm:ss} %c{1}> %m%n"/>
    </layout>
  </appender>
  
  <appender name="RI" class="org.apache.log4j.FileAppender">
    <param name="File" value="/tmp/fedora/log/ri.log"/> 
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{ISO8601} %c{1}> %m%n"/>
    </layout>
  </appender>
  
  <category name="org.kowari">
    <priority value="WARN"/>
  </category>

  <category name="org.trippi">
    <priority value="WARN" />
  </category>
  
  <category name="fedora.server.resourceIndex.ResourceIndex">
	<priority value="DEBUG"/>
    <appender-ref ref="RI"/>
  </category>

  <root>
    <priority value="WARN"/> <!-- DEBUG, INFO, WARN, ERROR, FATAL -->
    <appender-ref ref="STDOUT"/>
  </root>

</log4j:configuration>
