fedora {
	org.apache.catalina.realm.JAASMemoryLoginModule required debug=true
	path="conf/tomcat-users.xml"
	;
	org.apache.catalina.realm.JAASJNDILoginModule optional debug=true
	connectionURL="ldap://ldapvs.itc.virginia.edu:389"
	userBase="o=University of Virginia,c=US"
	userSearch="(uid={0})"
	userRoleName="description,sn,uid"
	userSubtree=true
	;	
};

Tomcat {
	org.apache.catalina.realm.JAASMemoryLoginModule required debug=true
	path="conf/tomcat-users.xml"
	;
	org.apache.catalina.realm.JAASJNDILoginModule optional debug=true
	connectionURL="ldap://ldapvs.itc.virginia.edu:389"
	userBase="o=University of Virginia,c=US"
	userSearch="(uid={0})"
	userRoleName="description,sn,uid"
	userSubtree=true
	;
};
