/** add additional or replace login modules as needed; for help, see:
	http://jakarta.apache.org/tomcat/tomcat-5.0-doc/realm-howto.html 
	http://java.sun.com/products/jaas/
**/

fedora {
	org.apache.catalina.realm.JAASMemoryLoginModule required debug=false
	path="conf/tomcat-users.xml"
	;
	
	/** uncomment to enable end-user ldap attributes in case of surrogate
	org.apache.catalina.realm.JAASNullLoginModule required debug=false 
	;	
	we can delete this comment before shipping 2.1 **/

	/** uncomment to test against uva ldap; e.g., put wdn5e in tomcat-users.xml, it will match here
	org.apache.catalina.realm.JAASJNDILoginModule optional debug=false
	connectionURL="ldap://ldapvs.itc.virginia.edu:389"
	userBase="o=University of Virginia,c=US"
	userSearch="(uid={0})"
	userRoleName="objectClass,uid,ou,UnixUid,eduPersonOrgDN,eduPersonOrgUnitDN,eduPersonPrimaryAffiliation,eduPersonScopedAffiliation"
	userSubtree=true
	userPassword="NO_AUTHENTICATION"
	;
	we can delete this comment before shipping 2.1 **/
};

Tomcat {
	org.apache.catalina.realm.JAASMemoryLoginModule required debug=false
	path="conf/tomcat-users.xml"
	;	

	/** uncomment to enable end-user ldap attributes in case of surrogate
	org.apache.catalina.realm.JAASNullLoginModule required debug=false
	;	
	we can delete this comment before shipping 2.1 **/

	/** uncomment to test against uva ldap; e.g., put wdn5e in tomcat-users.xml, it will match here
	org.apache.catalina.realm.JAASJNDILoginModule optional debug=false
	connectionURL="ldap://ldapvs.itc.virginia.edu:389"
	userBase="o=University of Virginia,c=US"
	userSearch="(uid={0})"
	userRoleName="objectClass,uid,ou,UnixUid,eduPersonOrgDN,eduPersonOrgUnitDN,eduPersonPrimaryAffiliation,eduPersonScopedAffiliation"
	userSubtree=true
	userPassword="NO_AUTHENTICATION"
	;
	we can delete this comment before shipping 2.1 **/
};
