/* 
  Stylesheet for Fedora documentation.
*/

body { 
  background-color: #FFFFFF;
  margin:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:13px;
  color:#666666;
}

.code {
  font-family:Courier, monospace;
  border-right: 1px solid;
  padding-right: 4px;
  border-top: 1px solid;
  padding-left: 4px;
  padding-bottom: 1px;
  border-left: 1px solid;
  padding-top: 1px;
  border-bottom: 1px solid;
  white-space: pre;
}

/* FIXME: Make these sort of match the Category4 stuff,
          but still be appropriate for documentation */

.title 

.sec1

.sec2

.sec3
