/* 
  Stylesheet for Fedora documentation.
*/

body { 
  background-color: #FFFFFF;
  margin:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:13px;
  color:#666666;
}

.code {
  font-family:Courier, monospace;
  border-right: 1px solid;
  padding-right: 4px;
  border-top: 1px solid;
  padding-left: 4px;
  padding-bottom: 0px;
  border-left: 1px solid;
  padding-top: 0px;
  border-bottom: 1px solid;
  white-space: pre;
  margin: 0px;
}

/* FIXME: Make these sort of match the Category4 stuff,
          but still be appropriate for documentation */

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1 {
  color: #4C7C8E;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2, h3, h4, h5 {
  padding-top: 4px;
  padding-bottom: 4px;
}

p {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0px;
}
/*
.sec2, .sec3, .sec4, .sec5 {
  padding-left: 8px;
} */

.toc {
  margin: 0px;
  width: 50%;
}

.tocbox {
  border-right: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  padding-right: 4px;
  padding-left: 4px;
}

.title, .abstract, .toc, .sec1 {
  margin-bottom: 8px;
}

.title {
  border-bottom: 1px solid;
}
