<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>
	<display-name>SOAPClient</display-name>
	<servlet>
		<servlet-name>FedoraAccessSoapServlet</servlet-name>
		<display-name>Fedora Access Soap Servlet</display-name>
		<servlet-class>
			fedora.soapclient.FedoraAccessSoapServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MethodParameterResolverServlet</servlet-name>
		<display-name>Fedora Access Datastream Locator</display-name>
		<servlet-class>
			fedora.soapclient.MethodParameterResolverServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FedoraAccessSoapServlet</servlet-name>
		<url-pattern>apia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MethodParameterResolverServlet</servlet-name>
		<url-pattern>/getAccessParmResolver</url-pattern>
	</servlet-mapping>
</web-app>
